# Configuração do Banco de Dados Local
LOCAL_DATABASE_URL=

# Configuração do Banco de Dados em Nuvem
CLOUD_DATABASE_URL=

# Configuração da Aplicação
APP_ENV=development
SECRET_KEY=uma_chave_muito_segura
DEBUG=False
