pdfplumber       # Para extrair conteúdo de PDFs
pandas            # Para manipulação e criação do CSV
openpyxl        # Caso precise lidar com Excel (opcional)
pytest          # Para testes automatizados
csv		# Manipulção de CSV
zipfile		# Compactar arquivos
os 		# Manipular diretórios do sistema
re		# Manipulação de Strings
psutil		# Para testes de performance
