fitz       # Para extrair conteúdo de PDFs
pandas            # Para manipulação e criação do CSV
openpyxl        # Caso precise lidar com Excel (opcional)
pytest          # Para testes automatizados
psutil		# Para testes de performance
